<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Komponen Navbar -->
    <nav class="navbar" >
        <div class="content">
          <div class="logo" style="display: flex; height: 3em;">
            <a href="#" style="display: flex; align-items: center; justify-content: space-around; width: 300px;">
                <img src="../../../../asset/img/1654861168931.jpg" alt="" style="max-height:100%;">
                <h1 class="teks">PRACTICANT</h1>
            </a>
          </div>
          <ul class="menu-list">
            <div class="icon cancel-btn">
              <i class="fas fa-times"></i>
            </div>
            <li><a href="#">Praktikum</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#"><img src="../../asset/img/notification-3-fill.svg" alt=""></a></li>
            <li><a href="#"><img src="../../asset/img/logout-box-r-line.svg" alt=""></a></li>

          </ul>
          <div class="icon menu-btn">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </nav>
      <!-- Batas Komponen Navbar -->
    

      <!-- Komponen Header -->
      
      <div class="containerheader">
        <div class="teksheader">
          <h1 class="teksh1">Welcome <span class="nama">Reza</span>  </h1>
          <h3 class="teksh2">Have a nice day :)</h3>
        </div>
        <div class="containergambar">
          <div class="shape"></div>
          <img src="../../asset/img/REZA.png" alt="" class="gambar">
        </div>
      </div>
      <!-- Batas Komponen Header -->

      <!-- Fitur -->
      <div class="containerfitur">
        <div class="row">
          <div class="kotak">
            <a href="#Task">
            <img src="../../asset/img/file-text-line.png" alt=""  class="iconfitur">
            <h2>TASK</h2>
            <p>Ini adalah tugas yang diberikan untukmu. Kamu juga bisa menambahkan tugas untuk asisten lain.</p>
          </a>
          </div>
          <div class="kotak">
            <img src="../../asset/img/money-dollar-circle-line.png" alt=""  class="iconfitur" >
            <h2>BEASISWA</h2>
            <p>
              Ini adalah informasi terkait beasiswa yang bisa kamu ikuti
            </p>
          </div>
          <div class="kotak">
            <img src="../../asset/img/time-line.png" alt=""  class="iconfitur">
            <h2>ABSENSI</h2>
            <p>
              Jangan lupa absen masuk dan keluar laboratorium  
            </p>
            </div>
        </div>
        <div class="row">
          <div class="kotak">
            <img src="../../asset/img/team-line.png" alt=""  class="iconfitur">
            <h2>NOTULENSI</h2>
            <p>
            Ini adalah rangkuman notulensi rapat yang sudah dilaksanakan  
            </p>
            </div>
          <div class="kotak">
            <img src="../../asset/img/user-shared-line.png" alt=""  class="iconfitur">
            <h2>PEMINJAMAN</h2>
            <p>
              Ini adalah input peminjaman barang laboratorium  
            </p>
            </div>
          <div class="kotak">
            <img src="../../asset/img/calendar-2-line.png" alt=""  class="iconfitur">
            <h2>JADWAL</h2>
            <p>
              Ini adalah input untuk jadwal perkuliahan  
            </p>
            </div>
        </div>

      </div>

      <div style="min-height: 100vh;"></div>
</body>
</html>