<div className={`collapse navbar-collapse ${styles.collapse}`} id="navbarNavDropdown">
    <ul className={`navbar-nav ml-auto mx-auto ${styles.navbar_nav}`}>
        <li className={`nav-item ${styles.nav_item}`}>
            <a className={`nav-link ${styles.nav_link}`} href="#">Event</a>
        </li>
        <li className={`nav-item ${styles.nav_item}`}>
            <a className={`nav-link ${styles.nav_link}`} href="#">ICL Blog</a>
        </li>
        <li className={`nav-item dropdown ${styles.nav_item}`}>
            <a className={`nav-link dropdown-toggle ${styles.nav_link}`} href="#" id="navbarDropdownMenuLink"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Praktikum
            </a>
            <ul className={`dropdown-menu `} aria-labelledby="navbarDropdownMenuLink">
                <li><a className={`dropdown-item text-dark `} href="#">Praktikum Alprog</a></li>
                <li><a className={`dropdown-item text-dark `} href="#">Praktikum APS</a></li>
            </ul>
        </li>
        <li className={`nav-item ${styles.nav_item}`}>
            <a className={`nav-link ${styles.nav_link}`} href="#">Join Us</a>
        </li>
    </ul>
</div>