.containerHeadline {
    position: relative;
    top: 60%;
    
}

.containerHeadline h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 3.5vw;
    margin-left: 20px;
    

}


.mynavbar {
    background:
        linear-gradient(180deg, #0A142F -20.49%, rgba(10, 20, 47, 0.46) 24.31%),
        url('https://drive.google.com/uc?export=view&id=13So-czAuYAfVSlj-Lzhxpm74lcZWVsa7') no-repeat center center / cover;
    ;
    height: 100vh;
    background-position: 25% 1%;
    width: 100%;
    background-attachment: fixed;
}