.carouselheight {
    height: 40%;
    width: 70%;
    margin: 0 auto;
}

.BackgroundProfile {
    background-color: white;
}

.auto {
    width: auto;
    height: auto;
}

.tulisan_video {
    text-align: center;
    font-family: 'lexend Deca',sans-serif;
    color: black;
    font-weight: 900;
    
}